@import 'src/_styleConfig.scss';

.profileScreen {
    display: flex;
    max-width: 1200px;
    margin: 20px 0;

    .cardRight {
        flex: 0.25;
        margin-left: 40px;
        max-height: 250px;

        h4,
        h6 {
            margin: 0;
        }

        h6 {
            font-weight: 200;
            font-size: 12px;
        }
    }

    .cardLeft {
        flex: 0.75;
    }

    .cardRight,
    .cardLeft {
        .secTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                margin: 0;
                font-size: 20px;
            }
        }
    }

    .secInfo {
        text-align: center;

        .image {
            border-radius: 50%;
            margin: auto;
            border: 5px solid $bgColor;
        }
    }

}