@import 'src/_styleConfig.scss';

.home {
    margin: 20px 0;
    max-width: 1130px;
    margin: auto;

    .cardBanner {
        display: flex;
        background-color: $bgColor2;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;

        h2 {
            font-size: 40px;
            margin: 0;
            color: $titleColor;
        }

        span {
            font-size: 18px;
            font-weight: 300;
        }

        button {
            margin: 0;
            margin-top: 10px;
            background-color: $btnColor;
            color: $txtColor4;

            &:hover {
                background-color: $bgColorBox !important;
                color: $titleColor;
            }
        }

        img {
            width: 300px;
            height: 300px;
        }
    }

}