@import 'src/_styleConfig.scss';

.loginForm {
    max-width: 350px;

    .sec {
        display: flex;
        align-items: center;
        margin: 10px;

        label {
            font-weight: 600;
            font-size: 14px;
            margin-left: 10px;
            min-width: 50px;
            text-align: right;
        }

        input {
            max-width: 150px;
            height: 20px;
            border: none;
            padding: 2px 5px;
        }

        textarea {
            resize: no ne;
        }
    }

}