@import 'src/_styleConfig.scss';

.filters {
    background-color: #f2f2f6;
    margin-left: 20px;
    // box-shadow: $smallShadow;
    border-radius: 5px;
    padding: 5px 10px;

    h2 {
        color: $bgColor2;
    }
}