@import 'src/_styleConfig.scss';

.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    cursor: auto;

    .overlay {
        width: 100%;
        height: 100%;
        background: $bgOverlay;
    }

    .content {
        background-color: $bgColorBox;
        margin: auto;
        position: absolute;
        top: 25%;
        right: calc(50% - 125px);
        box-shadow: $bigShadow;
        border-radius: 10px;
        padding: 20px;
    }

    h2 {
        margin: 0;
    }

    .close {
        cursor: pointer;
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 18px;
    }

    .children {
        padding: 10px;
    }
}