@import 'src/_styleConfig.scss';

.addProduct {
    max-width: 350px;

    .sec {
        display: flex;
        align-items: center;
        margin: 10px;

        label {
            font-weight: 600;
            font-size: 14px;
            margin-left: 10px;
            min-width: 50px;
            text-align: right;
        }

        input {
            min-width: 200px;
            height: 20px;
            border: none;
            padding: 2px 5px;
            outline: none;
        }

        textarea {
            resize: none;
        }
    }

}

// input[type=submit] {
//     width: 100%;
//     border: none;
//     padding: 7px 10px;
//     border-radius: 10px;
//     font-size: 14px;
//     box-shadow: $smallShadow;
//     margin: 5px 0;
//     cursor: pointer;
//     background-color: $bgColor;

//     &:hover {
//         box-shadow: $shadow;

//     }
// }