@import 'src/_styleConfig.scss';

.search {
    position: relative;

    .inSearch {
        max-width: 100%;
        height: 34px;
        padding: 10px 30px 10px 15px;
        border: none;
        background-color: $bgColor;
        margin-top: -5px;
        border-radius: 10px;
        outline: none;

        &::placeholder {
            font-weight: 600;
        }
    }

    svg {
        position: absolute;
        top: 5px;
        left: 10px;
        opacity: .3;
    }

    input[type=search]::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }

    input[type=search]::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }

    input[type=search]::-webkit-search-decoration,
    input[type=search]::-webkit-search-cancel-button,
    input[type=search]::-webkit-search-results-button,
    input[type=search]::-webkit-search-results-decoration {
        display: none;
    }

}