@import 'src/_styleConfig.scss';

.content {

    .tAndS {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        h2 {
            font-size: 36px;
            margin: 0;
            // color: #0c074d;
            color: $txtColor2;
        }

        .searchProducts {
            max-width: 250px;
        }
    }


    .productsList {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
    }
}